service: stamp-rally-poc-backend
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs16.x
  region: ap-northeast-1

plugins:
  - serverless-plugin-typescript

functions:
  walletVerifier:
    handler: walletVerifier.handler
    events:
      - httpApi:
          path: /{address}
          method: get
