service: stamp-rally-poc-backend
frameworkVersion: '3'

useDotenv: true

provider:
  name: aws
  runtime: nodejs16.x
  region: ap-northeast-1
  environment:
    GOERLI_UNISWAP_OWNER_PRIVATE_KEY: ${env:GOERLI_UNISWAP_OWNER_PRIVATE_KEY}
    GOERLI_UNISWAP_DISTRIBUTOR_ADDRESS: ${env:GOERLI_UNISWAP_DISTRIBUTOR_ADDRESS}
    MUMBAI_UNISWAP_OWNER_PRIVATE_KEY: ${env:MUMBAI_UNISWAP_OWNER_PRIVATE_KEY}
    MUMBAI_UNISWAP_DISTRIBUTOR_ADDRESS: ${env:MUMBAI_UNISWAP_DISTRIBUTOR_ADDRESS}

plugins:
  - serverless-plugin-typescript
  - serverless-dotenv-plugin

functions:
  walletVerifier:
    handler: src/walletVerifier.handler
    events:
      - http:
          path: /campaigns/{campaignId}/accounts/{account}
          method: get
          cors: true
