name: test

on: [push, pull_request]

jobs:
  contracts-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/contracts
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: install dependencies
        run: yarn install
      - name: compile
        run: yarn compile
      - name: run tests
        run: yarn test
